.App {
  text-align: center;
}

#content {
  display: flex;
  flex-direction: column;
  gap: 256px;
}

.animate {
  animation: phase-in-rise 2s
}

.hide {
  visibility: hidden;
}

@keyframes phase-in-rise {
  0% {
    opacity: 0;
    transform: translateY(10%)
  } 

  25% {
    opacity: 0;
    transform: translateY(10%)
  }
  
  100% {
    opacity: 1
  }
}
