#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #1f1f1f;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding: 48px;
    color: white;
}

.footer-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    width: 100%;
}

.footer-form input {
    padding: 8px 8px;
    width: 95%;
    border: none;
}

.left,
.right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

#footer .left {
    width: 20%;
    flex-direction: column;
    gap: 8px;
}

#footer .left button {
    font-family: 'Gelasio', serif;
    border: solid black;
    border-width: 2px;;
    background-color: transparent;;
    padding: 4px 8px;
    color: black;
    transition: transform .5s;
    background-color: white;
}

#footer .left button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#footer .left div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

#footer .right {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: x-large;
}

.socials {
    display: flex;
    width: 100%;
    justify-content: space-around;
    transition: transform .5s
}

.socials >*:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.hours hr {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    border: 0;
    height: 1px;
    margin: 12px 0;
    width: 100%;
}

.hours li {
    display: flex;
    justify-content: center;
}

@media (max-width: 1000px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 48px;
        width: 100%;
        padding: 0 24px
    }

    #footer .left {
        width: 100%;
        padding: 24px 24px 0px 24px;
    }

    #footer .hours {
        width: 100%;
    }

    .footer-form {
        width: 60%;
    }


}

@media (max-width: 600px) {
    .footer-form {
        width: 80%;
    }
}
