#landing {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    color: white;
}

.landing-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E1E1E;
    padding: 24px 12px;;
    gap: 24px;
}

.landing-content .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    width: 45%;
}

.landing-title {
    font-size: xx-large;
    line-height: 200%;
}

.landing-button {
    font-family: 'Gelasio', serif;
    border: solid white;
    border-width: 2px;;
    background-color: transparent;
    padding: 12px 24px;;
    color: white;
    font-size: large;
}

#landing .right img {
    width: 450px
}

.landing-button:hover {
    animation: hover ease-in-out 1.5s infinite;
    cursor: pointer;
}

@keyframes hover {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(1.1)
    }

    100% {
        transform: scale(1)
    }
}

@media (max-width: 1000px) {
    #landing .right img {
        width: 250px;
    }

    .landing-title {
        font-size: large;
    }

    #landing .left {
        width: 100%;
    }

    .landing-content {
        flex-direction: column-reverse;
        width: 100%
    }
}

@media (max-width: 600px) {
    #landing .right img {
        width: 250px;
    }

    .landing-title {
        font-size: large;
    }

    #landing .left {
        width: 100%;
    }

    .landing-content {
        flex-direction: column-reverse;
    }
}


